.product__discount{
    width: 100%;
    height: auto;
    border: 1px solid #25252522;
    border-radius: 16px;
    max-width: 1336px;
    margin: 15px auto;
    .discount__header{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        margin: 10px 0;
        h3{
            display: flex;
            align-items: center;
            gap: 4px;
            svg{
                width: 24px;
                height: 24px;
                fill: red;
            }
        }

    }
    .discount__main{
        width: 100%;
        height: auto;
        ul{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
            li{
                padding: 0 20px 20px;
                width: 213px;
                border-left: 1px solid #25252522;
                border-bottom: 1px solid #25252522;
                a{
                    text-decoration: none;
                    img{
                        width: 150px;
                        height: 150px;
                        object-fit: contain;
                        margin-top: 8px;
                    }
                    .price__discount{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            background-color: red;
                            color: white;
                            border-radius: 999px;
                            padding: 2px 5px;
                            font-size: 11px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        p{
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            font-size: 16px;
                            svg{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    .old__price{
                        font-size: 12px;
                        color: #797979;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        margin: 10px 24px;
                    }
                }
            }
        }
    }
}
.product__discount .discount__main ul li:nth-child(6),
.product__discount .discount__main ul li:nth-child(12),
.product__discount .discount__main ul li:nth-child(18){
    border-left: 0;

}
.product__discount .discount__main ul li:nth-child(13),
.product__discount .discount__main ul li:nth-child(14),
.product__discount .discount__main ul li:nth-child(15),
.product__discount .discount__main ul li:nth-child(16),
.product__discount .discount__main ul li:nth-child(17),
.product__discount .discount__main ul li:nth-child(18){
    border-bottom: 0;
}



ul::marker, li::marker{
    content: '';
}