.story__container{
    width: 100%;
    height: 170px;
    .story__center{
        width: 100%;
        height: 100%;
        max-width: 1336px;
        margin: 0 auto;
        .story-col{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            gap: 16px;
            .story-image{
                width: 74px;
                height: 74px;
                object-fit: cover;
                border-radius: 50%;
                outline: 2px solid purple;
                outline-offset: 3px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .story-text{
                width: 100%;
                height: 45px;
                padding: 0 8px;
                p{
                    font-size: 11px;
                    color: #23254E;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}
